.NewItemBox {
    display: grid;
    color: rgb(248, 248, 248);
    background-color: #4A7B9B;
    width: 80%;
    height: 9rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    padding: 1rem;
}

.Header {
    margin: 0;
    grid-row: 1;
    grid-column: 1 / 6;
}

.InputBox {
    grid-row: 2;
    grid-column: 1 / 6;
}

.ColorPick {
    display: flex;
    margin: .4rem;
    justify-content: space-evenly;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
}
.ColorPick button {
    height: 1.6rem;
    width: 1.6rem;
}

.AddBtn {
    grid-row: 4;
    grid-column: 3;
}
.ClearBtn {
    grid-row: 4;
    grid-column: 4;
}
